In [34]:
"import numpy as np", 
import pandas as pd
import matplotlib.pyplot as plt
import re

In [35]:
def std_col_name(name):
	name = name.strip()
	name = re.sub(r"\s+", "_", name)
	name = re.sub(r"[^$/\w]", "", name)
	return name.lower()

std_col_name("  PATRIMONIO /#$&% ATIVOS  ")

'patrimonio_/$_ativos'

- [ x ] Dar pontos positivos ou negativos para cada coluna da empresa
- [ x ] Rankear ações pela melhor pontuação geral
- [ ] Rankear FIIs da mesm forma
- [ ] Avaliar historicamente se investir ns top 15 desse ranking traz bons resultados
- [ ] Adicionar metricas historicas (evolucao de preco, distribuicao de dividendos, etc)
- [ ] Adicionar modelo Black & Scholes
- [ ] Adicionar fontes de dados independentes do Status Invest
- [ ] Adicionar metadados (setor da acao, vantagem competiiva, gestao boa, etc)
- [ ] !!!! Adicionar método que faz top 20 de cada coluna e dá 1 ponto pra cada carcterística TOP

In [36]:
br_stocks = pd.read_csv("acoes_brasil.csv", sep=";", decimal=",", thousands='.') #.fillna(0)
stocks_col_names = [std_col_name(name) for name in br_stocks.columns]
br_stocks.columns = stocks_col_names

print(br_stocks.columns)
# print(br_stocks.dtypes)
br_stocks.head()

Index(['ticker', 'preco', 'dy', 'p/l', 'p/vp', 'p/ativos', 'margem_bruta',
       'margem_ebit', 'marg_liquida', 'p/ebit', 'ev/ebit',
       'divida_liquida_/_ebit', 'div_liq_/_patri', 'psr', 'p/cap_giro',
       'p_at_cir_liq', 'liq_corrente', 'roe', 'roa', 'roic',
       'patrimonio_/_ativos', 'passivos_/_ativos', 'giro_ativos',
       'cagr_receitas_5_anos', 'cagr_lucros_5_anos', 'liquidez_media_diaria',
       'vpa', 'lpa', 'peg_ratio', 'valor_de_mercado'],
      dtype='object')

,ticker,preco,dy,p/l,p/vp,p/ativos,margem_bruta,margem_ebit,marg_liquida,p/ebit,...,patrimonio_/_ativos,passivos_/_ativos,giro_ativos,cagr_receitas_5_anos,cagr_lucros_5_anos,liquidez_media_diaria,vpa,lpa,peg_ratio,valor_de_mercado
0,AALR3,10.41,NaN,-4.30,1.42,0.49,30.29,-1.09,-25.30,-99.75,...,0.34,0.65,0.45,0.13,NaN,1.898619e+06,7.32,-2.42,-0.01,1.231428e+09
1,ABCB4,19.86,6.07,5.71,0.83,0.08,31.62,25.25,19.35,4.38,...,0.10,0.90,0.07,18.70,12.95,1.226095e+07,23.98,3.48,0.39,4.490150e+09
2,ABEV3,12.98,5.86,14.34,2.41,1.54,49.95,21.50,17.26,11.52,...,0.64,0.35,0.62,10.72,14.46,3.329247e+08,5.40,0.91,2.64,2.047998e+11
3,ADHM3,1.56,NaN,-4.09,-1.29,105.12,100.00,-13548.48,-18860.61,-5.69,...,-81.72,82.72,0.14,NaN,NaN,NaN,-1.21,-0.38,-0.58,2.543977e+07
4,AERI3,0.81,NaN,-5.82,0.74,0.20,13.03,9.37,-3.59,2.23,...,0.27,0.73,0.93,NaN,NaN,6.355384e+06,1.10,-0.14,0.00,6.206329e+08

In [37]:
def percentage_str_to_float(x):
	# print("el: '", x, "'")
	x = re.sub(r"^\s*$", "N/A", x)
	x = x.strip("%").replace(",", ".")
	if x == "N/A":
		return None
	return float(x) / 100

converters = {}
percentage_cols = ["DIVIDEND YIELD", "DY (12M) ACUMULADO", "DY (12M) MÉDIA", "VARIAÇÃO PREÇO", "DY PATRIMONIAL", "VARIAÇÃO PATRIMONIAL"]
for col in percentage_cols:
	converters[col] = percentage_str_to_float
	# print(col, fiis_df[col].dtype)
	# fiis_df[col] = fiis_df[col].apply(percentage_str_to_float)

fiis_df = pd.read_csv("fiis.csv", sep=",", decimal=",", thousands=".", converters=converters)

fiis_col_names = [std_col_name(name) for name in fiis_df.columns]
fiis_df.columns = fiis_col_names
fiis_df.rename(columns={"dividend_yield": "dy"}, inplace = True)

print(fiis_df.columns)
# print(fiis_df.dtypes)
fiis_df.head()

Index(['ticker', 'setor', 'liquidez_diária_r$', 'p/vp', 'dy',
       'dy_12m_acumulado', 'dy_12m_média', 'variação_preço',
       'patrimônio_líquido', 'p/vpa', 'dy_patrimonial', 'variação_patrimonial',
       'quant_ativos', 'num_cotistas'],
      dtype='object')

,ticker,setor,liquidez_diária_r$,p/vp,dy,dy_12m_acumulado,dy_12m_média,variação_preço,patrimônio_líquido,p/vpa,dy_patrimonial,variação_patrimonial,quant_ativos,num_cotistas
0,AAZQ11,INDEFINIDO,658092.68,0.96,0.0131,0.1341,0.0149,-0.0245,2.273157e+08,0.96,0.0127,0.0000,0.0,19556.0
1,ABCP11,SHOPPINGS,43186.82,0.75,0.0087,0.0914,0.0076,0.0286,4.324652e+08,0.75,0.0065,0.0002,1.0,17587.0
2,AFHI11,PAPÉIS,1179377.89,1.01,0.0107,0.1304,0.0109,0.0022,3.178651e+08,1.01,0.0110,0.0012,0.0,25035.0
3,AGRX11,OUTROS,233347.32,NaN,0.0138,0.1656,0.0138,0.0150,NaN,NaN,NaN,NaN,0.0,0.0
4,AIEC11,LAJES CORPORATIVAS,623349.32,0.59,0.0132,0.1392,0.0116,-0.1216,4.578679e+08,0.59,0.0080,0.0149,2.0,15900.0

In [38]:
points_df = pd.DataFrame()

feature_to_green_flag_filter = {
	"p/l": {"min_val": 3, "max_val": 20},
	"dy": {"min_val": 5, "max_val": 20},
	"p/vp": {"min_val": 0.5, "max_val": 3},
	"margem_bruta": {"min_val": 5, "max_val": 100},
	"marg_liquida": {"min_val": 5, "max_val": 100},
	"roa": {"min_val": 5, "max_val": 100},
	"roe": {"min_val": 5, "max_val": 100},
	"roic": {"min_val": 5, "max_val": 100},
}

filtered_br_stocks = br_stocks
for feature_name, filter_info in feature_to_green_flag_filter.items():
	# step 1
	min_val = filter_info["min_val"]
	min_filter = (filtered_br_stocks[feature_name] > min_val)

	filtered_step_1 = filtered_br_stocks[min_filter]

	# step 2
	max_val = filter_info["max_val"]
	max_filter = (filtered_step_1[feature_name] < max_val)

	filtered_step_2 = filtered_step_1[max_filter]

	# end
	filtered_br_stocks = filtered_step_2

filtered_br_stocks.head()

,ticker,preco,dy,p/l,p/vp,p/ativos,margem_bruta,margem_ebit,marg_liquida,p/ebit,...,patrimonio_/_ativos,passivos_/_ativos,giro_ativos,cagr_receitas_5_anos,cagr_lucros_5_anos,liquidez_media_diaria,vpa,lpa,peg_ratio,valor_de_mercado
2,ABEV3,12.98,5.86,14.34,2.41,1.54,49.95,21.50,17.26,11.52,...,0.64,0.35,0.62,10.72,14.46,3.329247e+08,5.40,0.91,2.64,2.047998e+11
7,AGRO3,28.70,11.28,10.97,1.34,0.84,30.76,21.55,20.98,10.68,...,0.63,0.37,0.36,27.22,16.28,2.091782e+07,21.40,2.62,-0.23,2.947015e+09
36,AURE3,13.89,10.79,4.49,0.94,0.42,21.03,27.60,52.70,8.57,...,0.45,0.55,0.18,NaN,NaN,4.464009e+07,14.79,3.10,0.00,1.390000e+10
133,CEBR3,16.30,9.15,6.24,1.17,0.83,43.45,84.65,66.35,4.89,...,0.71,0.11,0.20,-34.71,7.64,1.211046e+05,13.92,2.61,-4.51,1.212181e+09
134,CEBR5,16.44,9.07,6.29,1.18,0.84,43.45,84.65,66.35,4.93,...,0.71,0.11,0.20,-34.71,7.64,6.773393e+04,13.92,2.61,-4.55,1.212181e+09

In [39]:
def generate_point_col(stock_df, col_name): #, min_val, max_val):
	col_series = stock_df[col_name]

	# mean_val = col_series.mean()
	# std_dev = col_series.std()
	median_val = col_series.median()
	first_quarter = col_series.quantile(0.25)
	third_quarter = col_series.quantile(0.75)

	quarter_dist = third_quarter - first_quarter

	std_foo = (lambda x : abs(x[col_name] - median_val) / quarter_dist)
	ascending_std_foo = (lambda x : -std_foo(x))

	std_vals_series = stock_df.apply(ascending_std_foo, axis=1)
	lowest_val = std_vals_series.min()

	def calculate_points(x):
		standardized_val = std_foo(x)

		is_low_outlier = standardized_val <= first_quarter - 1.5 * quarter_dist
		is_high_outlier = standardized_val >= third_quarter + 1.5 * quarter_dist
		if is_low_outlier or is_high_outlier:
			standardized_val = -lowest_val # crazy negative ops, dont ask why

		return -standardized_val

	point_col_name = "point_" + col_name

	col_df = col_series.to_frame()
	col_df[point_col_name] = col_df.apply(calculate_points, axis=1)
	col_df["ticker"] = stock_df["ticker"]

	return col_df[[point_col_name]]  # [["ticker", point_col_name]]

	# filtered_df = col_df[ (col_df > min_val) & (col_df < max_val) ].sort_values(by=col_name).head(50)
	# top_tickers = set(filtered_df["ticker"].unique())
	# print(top_tickers)
	
	# return col_df.apply(lambda x : 2 if x["ticker"] in top_tickers else 0, axis=1)

In [40]:
def generate_point_col_with_rank(stock_df, feature_name, filter_dict, red_flag_filters):
	# col_series = stock_df[col_name]

	# feature_name = filter_dict[0]
	min_val = filter_dict["min_val"]
	max_val = filter_dict["max_val"]
	the_bigger_the_better = filter_dict["the_bigger_the_better"]

	lower_tolerable_limit = red_flag_filters["lower_tolerable_limit"]
	upper_tolerable_limit = red_flag_filters["upper_tolerable_limit"]
	# the_bigger_the_better_red_flag = red_flag_filters["the_bigger_the_better"]
	
	should_order_ascending = not the_bigger_the_better

	# green points
	filters_green_flag = ((stock_df[feature_name] >= min_val) & (stock_df[feature_name] <= max_val))
	filtered_green_stock_df = stock_df[filters_green_flag].sort_values(by=feature_name, ascending=should_order_ascending).head(25)
	filtered_green_flag_stock_names = set(filtered_green_stock_df["ticker"])

	calculate_green_points = (lambda x : 1 if x["ticker"] in filtered_green_flag_stock_names else 0)
	green_point_col_name = "g_point_" + feature_name
	stock_df[green_point_col_name] = stock_df.apply(calculate_green_points, axis=1)

	# red points
	filters_red_flag = ((stock_df[feature_name] > upper_tolerable_limit) | (stock_df[feature_name] < lower_tolerable_limit))
	filtered_red_stock_df = stock_df[filters_red_flag]
	filtered_red_flag_stock_names = set(filtered_red_stock_df["ticker"])

	calculate_red_points = (lambda x : -1 if x["ticker"] in filtered_red_flag_stock_names else 0)
	red_point_col_name = "r_point_" + feature_name
	stock_df[red_point_col_name] = stock_df.apply(calculate_red_points, axis=1)


	return stock_df[[green_point_col_name, red_point_col_name]]

In [41]:
filter_green_flag_tuples = (
	("p/l", 3, 20, False),
	("dy", 0.05, 0.2, True),
	("p/vp", 0.5, 3, False),
	("margem_bruta", 5, 100, True),
	("marg_liquida", 5, 100, True),
	("roa", 5, 100, True),
	("roe", 5, 100, True),
	("roic", 5, 100, True),
	("liquidez_diária_r$", 10 ** 5, 10 ** 12, True),
	("dy_12m_acumulado", 0.05, 0.2, True),
	# ("dy_12m_média", 5 / 12, 20 / 12, True),
	("quant_ativos", 4, 1000, True),
	("num_cotistas", 1000, 10 ** 9, True)
)

feature_to_green_flag_filter = {}

for filter_tuple in filter_green_flag_tuples:
	feature_name, min_val, max_val, the_bigger_the_better = filter_tuple

	feature_to_green_flag_filter[feature_name] = {
		"min_val": min_val,
		"max_val": max_val,
		"the_bigger_the_better": the_bigger_the_better
	}

In [42]:
filter_red_flag_tuples = (
	("p/l", 1, 30, False),
	("dy", -0.001, 0.25, True),
	("p/vp", 0.4, 1.5, False), # just for fiis
	("margem_bruta", 4, 101, True),
	("marg_liquida", 4, 101, True),
	("roa", 4, 101, True),
	("roe", 4, 101, True),
	("roic", 4, 101, True),
	("liquidez_diária_r$", 50 ** 4, 10 ** 13, True),
	("dy_12m_acumulado", 0.04, 0.21, True),
	("dy_12m_média", 0.04 / 12, 0.21 / 12, True), # redundant
	("quant_ativos", 0, 10 ** 10, True),
	("num_cotistas", 999, 10 ** 10, True)
)

feature_to_red_flag_filter = {}

for filter_tuple in filter_red_flag_tuples:
	feature_name, lower_tolerable_limit, upper_tolerable_limit, the_bigger_the_better = filter_tuple

	feature_to_red_flag_filter[feature_name] = {
		"lower_tolerable_limit": lower_tolerable_limit,
		"upper_tolerable_limit": upper_tolerable_limit,
		"the_bigger_the_better": the_bigger_the_better
	}

In [43]:
points_df = pd.DataFrame()

br_stocks_col_names = set(br_stocks.columns)
feature_names_that_have_green_filter = set(feature_to_green_flag_filter.keys())
feature_names_that_have_red_filter = set(feature_to_red_flag_filter.keys())

filtered_br_stocks = br_stocks
for feature_name, filter_info in feature_to_green_flag_filter.items():
	if feature_name not in br_stocks_col_names or feature_name not in feature_names_that_have_green_filter:
		continue

	# step 1
	min_val = filter_info["min_val"]
	min_filter = (filtered_br_stocks[feature_name] > min_val)

	filtered_step_1 = filtered_br_stocks[min_filter]

	# step 2
	max_val = filter_info["max_val"]
	max_filter = (filtered_step_1[feature_name] < max_val)

	filtered_step_2 = filtered_step_1[max_filter]

	# end
	filtered_br_stocks = filtered_step_2

filtered_br_stocks.head(5)

Empty DataFrame
Columns: [ticker, preco, dy, p/l, p/vp, p/ativos, margem_bruta, margem_ebit, marg_liquida, p/ebit, ev/ebit, divida_liquida_/_ebit, div_liq_/_patri, psr, p/cap_giro, p_at_cir_liq, liq_corrente, roe, roa, roic, patrimonio_/_ativos, passivos_/_ativos, giro_ativos, cagr_receitas_5_anos, cagr_lucros_5_anos, liquidez_media_diaria, vpa, lpa, peg_ratio, valor_de_mercado]
Index: []

[0 rows x 30 columns]

In [44]:
feature_col_names = filtered_br_stocks.columns[2:]  # exclude tickers and price
df_points = pd.DataFrame()

br_stocks_col_names = set(br_stocks.columns)

print("br_stocks_col_names ", br_stocks_col_names)
print("feature_names_that_have_green_filter ", feature_names_that_have_green_filter)
print("feature_names_that_have_red_filter ", feature_names_that_have_red_filter)
print("ticker in set ? ", ("ticker" in br_stocks_col_names))
print("dy in set ? ", ("dy" in br_stocks_col_names))

filtered_br_stocks = br_stocks
for col_name in feature_col_names:
	col_not_in_stocks = (col_name not in br_stocks_col_names)
	col_not_in_filters = (col_name not in feature_names_that_have_green_filter)
	col_not_in_red_filters = (col_name not in feature_names_that_have_red_filter)

	# print("col_name: ", col_name)
	# print("feature_not_in_stocks: ", col_not_in_stocks)
	# print("feature_not_in_filters: ", col_not_in_filters)
	# df_points["point_" + col_name] = generate_point_col(filtered_br_stocks, col_name) 

	if col_not_in_stocks or col_not_in_filters or col_not_in_red_filters:
		continue

	filter_dict = feature_to_green_flag_filter[col_name]
	red_flag_filters = feature_to_red_flag_filter[col_name]

	df_points[["g_point_" + col_name, "r_point_" + col_name]] = generate_point_col_with_rank(filtered_br_stocks, col_name, filter_dict, red_flag_filters) 
	# .sort_values(by="point_p/l", ascending=False).head(25)
df_points["ticker"] = filtered_br_stocks["ticker"]
# print(df_points.iloc[:, 0:-2])
# print(sum(df_points.iloc[:, 0:-2]))
df_points["total_points"] = df_points.iloc[:, 0:-1].sum(axis=1) # sum all float cols

df_points["p/l"] = filtered_br_stocks["p/l"]
df_points["dy"] = filtered_br_stocks["dy"]

df_points.sort_values(by="total_points", ascending=False).head(20) # [["ticker", "dy", "p/l", "point_dy", "point_p/l", "total_points"]]

br_stocks_col_names  {'p_at_cir_liq', 'roic', 'passivos_/_ativos', 'p/ativos', 'margem_ebit', 'roe', 'psr', 'vpa', 'cagr_receitas_5_anos', 'margem_bruta', 'liq_corrente', 'divida_liquida_/_ebit', 'peg_ratio', 'ticker', 'ev/ebit', 'p/l', 'liquidez_media_diaria', 'dy', 'preco', 'div_liq_/_patri', 'p/vp', 'marg_liquida', 'lpa', 'p/cap_giro', 'p/ebit', 'patrimonio_/_ativos', 'giro_ativos', 'roa', 'cagr_lucros_5_anos', 'valor_de_mercado'}
feature_names_that_have_green_filter  {'roic', 'roe', 'p/vp', 'marg_liquida', 'roa', 'liquidez_diária_r$', 'dy_12m_acumulado', 'quant_ativos', 'num_cotistas', 'p/l', 'dy', 'margem_bruta'}
feature_names_that_have_red_filter  {'dy_12m_média', 'roic', 'roe', 'p/vp', 'marg_liquida', 'roa', 'liquidez_diária_r$', 'dy_12m_acumulado', 'quant_ativos', 'num_cotistas', 'p/l', 'dy', 'margem_bruta'}
ticker in set ?  True
dy in set ?  True

,g_point_dy,r_point_dy,g_point_p/l,r_point_p/l,g_point_p/vp,r_point_p/vp,g_point_margem_bruta,r_point_margem_bruta,g_point_marg_liquida,r_point_marg_liquida,g_point_roe,r_point_roe,g_point_roa,r_point_roa,g_point_roic,r_point_roic,ticker,total_points,p/l,dy
582,0,0,0,-1,1,0,1,0,1,0,0,-1,1,0,1,0,TRPN3,3,0.44,NaN
89,0,-1,1,0,0,0,0,0,0,0,0,0,1,0,1,0,BRAP4,2,3.12,13.41
224,0,0,1,0,0,-1,0,0,1,0,1,0,0,0,0,0,EEEL3,2,3.39,NaN
281,0,0,1,0,0,-1,1,0,1,0,0,0,0,0,0,0,G2DI33,2,3.12,NaN
235,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,ELPL3,2,1.00,NaN
360,0,-1,0,0,1,0,1,0,1,0,0,0,0,-1,0,0,LOGG3,1,8.71,4.79
549,0,-1,1,0,0,-1,0,0,1,0,1,0,0,0,0,0,SUZB3,1,3.33,3.07
121,0,-1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,CAMB4,1,3.47,3.18
88,0,-1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,BRAP3,1,2.88,13.22
419,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,NEMO5,1,2.81,NaN
353,0,-1,0,0,0,-1,0,0,0,0,1,0,1,0,1,0,LEVE3,1,7.44,10.64
417,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,NAFG4,1,3.49,NaN
398,0,0,0,0,0,-1,1,0,1,0,0,-1,1,0,0,0,MPLU3,1,12.20,NaN
225,0,0,0,0,0,-1,0,0,1,0,1,0,0,0,0,0,EEEL4,1,4.71,NaN
569,0,0,0,0,0,-1,0,0,1,0,1,0,0,0,0,0,TIET3,1,6.09,NaN
570,0,0,0,0,0,-1,0,0,1,0,1,0,0,0,0,0,TIET4,1,6.13,NaN
568,0,0,0,0,0,-1,0,0,1,0,1,0,0,0,0,0,TIET11,1,4.38,NaN
392,0,-1,0,0,0,-1,0,0,0,0,1,0,1,0,1,0,MOAR3,1,5.74,0.95
276,0,-1,0,0,0,0,1,0,0,-1,0,0,1,0,0,0,FNCN3,0,2.65,3.75
134,0,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,CEBR5,0,6.29,9.07

In [45]:
br_stocks.describe()

,preco,dy,p/l,p/vp,p/ativos,margem_bruta,margem_ebit,marg_liquida,p/ebit,ev/ebit,...,g_point_margem_bruta,r_point_margem_bruta,g_point_marg_liquida,r_point_marg_liquida,g_point_roe,r_point_roe,g_point_roa,r_point_roa,g_point_roic,r_point_roic
count,620.000000,332.000000,620.000000,617.000000,6.200000e+02,589.000000,589.000000,589.000000,620.000000,613.000000,...,620.000000,620.000000,620.000000,620.000000,620.000000,620.000000,620.000000,620.000000,620.000000,620.000000
mean,53.075258,15.664548,86.978871,199.383485,4.463253e+03,-15.040136,3.978387,51.060119,19.461532,15.403165,...,0.040323,-0.064516,0.040323,-0.420968,0.040323,-0.400000,0.040323,-0.567742,0.040323,-0.304839
std,493.399564,153.871938,1982.634115,6144.542181,1.110515e+05,452.326729,1023.402581,1180.622168,190.299765,183.033929,...,0.196874,0.245868,0.196874,0.494113,0.196874,0.490294,0.196874,0.495790,0.196874,0.460711
min,0.000000,0.100000,-4029.370000,-30200.650000,0.000000e+00,-4128.220000,-18852.940000,-18860.610000,-707.650000,-719.570000,...,0.000000,-1.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,-1.000000
25%,4.615000,2.080000,0.000000,0.510000,1.575000e-01,19.730000,4.750000,0.370000,0.422500,1.560000,...,0.000000,0.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,-1.000000
50%,11.225000,4.260000,6.320000,1.060000,4.000000e-01,31.520000,13.610000,7.080000,4.310000,6.410000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000
75%,25.252500,7.355000,12.510000,1.990000,8.500000e-01,46.970000,25.250000,17.710000,8.867500,11.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,11091.730000,2762.620000,48754.690000,149535.600000,2.765162e+06,101.460000,6032.010000,13896.670000,3576.720000,3586.400000,...,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000

In [46]:
feature_col_names = fiis_df.columns[2:]  # exclude tickers and sector
df_points = pd.DataFrame()

fiis_df_col_names = set(fiis_df.columns)

print("fiis_df_col_names ", fiis_df_col_names)
print("feature_names_that_have_green_filter ", feature_names_that_have_green_filter)
print("ticker in set ? ", ("ticker" in fiis_df_col_names))
print("dy in set ? ", ("dy" in fiis_df_col_names))

filtered_fiis_df = fiis_df
for col_name in feature_col_names:
	col_not_in_stocks = (col_name not in fiis_df_col_names)
	col_not_in_filters = (col_name not in feature_names_that_have_green_filter)
	col_not_in_red_filters = (col_name not in feature_names_that_have_red_filter)

	if col_not_in_stocks or col_not_in_filters or col_not_in_red_filters:
		continue

	filter_dict = feature_to_green_flag_filter[col_name]
	red_flag_filters = feature_to_red_flag_filter[col_name]

	df_points[["g_point_" + col_name, "r_point_" + col_name]] = generate_point_col_with_rank(filtered_fiis_df, col_name, filter_dict, red_flag_filters) 
	# .sort_values(by="point_p/l", ascending=False).head(25)
df_points["ticker"] = filtered_fiis_df["ticker"]
# print(df_points.iloc[:, 0:-2])
# print(sum(df_points.iloc[:, 0:-2]))
df_points["total_points"] = df_points.iloc[:, 0:-1].sum(axis=1) # sum all float cols

df_points["dy"] = filtered_fiis_df["dy"]
df_points["dy_12m_acumulado"] = filtered_fiis_df["dy_12m_acumulado"]

df_points.sort_values(by="total_points", ascending=False).head(20) [["ticker", "dy", "dy_12m_acumulado", "r_point_dy_12m_acumulado", "total_points"]]

fiis_df_col_names  {'dy_12m_média', 'p/vp', 'p/vpa', 'variação_preço', 'quant_ativos', 'dy_12m_acumulado', 'patrimônio_líquido', 'num_cotistas', 'ticker', 'setor', 'dy', 'dy_patrimonial', 'variação_patrimonial', 'liquidez_diária_r$'}
feature_names_that_have_green_filter  {'roic', 'roe', 'p/vp', 'marg_liquida', 'roa', 'liquidez_diária_r$', 'dy_12m_acumulado', 'quant_ativos', 'num_cotistas', 'p/l', 'dy', 'margem_bruta'}
ticker in set ?  True
dy in set ?  True

     ticker      dy  dy_12m_acumulado  r_point_dy_12m_acumulado  total_points
166  HGLG11  0.0070            0.0906                         0             3
62   BTLG11  0.0075            0.0902                         0             3
422  XPML11  0.0076            0.0950                         0             2
221  KNRI11  0.0063            0.0801                         0             2
254  MXRF11  0.0102            0.1268                         0             2
170  HGRU11  0.0066            0.0947                         0             2
214  KNCR11  0.0108            0.1383                         0             2
394  VISC11  0.0085            0.0912                         0             2
50   BRCR11  0.0075            0.0910                         0             1
217  KNIP11  0.0076            0.1030                         0             1
380  URPR11  0.0131            0.1530                         0             1
84   CPTS11  0.0063            0.0162                        -1             1
388  VGIR11  0.0120            0.1522                         0             1
377  TRXF11  0.0083            0.1006                         0             1
182  HTMX11  0.0233            0.1614                         0             1
343  RZAK11  0.0138            0.1585                         0             1
421  XPLG11  0.0072            0.0878                         0             1
386  VGIA11  0.0126            0.1676                         0             1
168  HGRE11  0.0064            0.0812                         0             1
316  RBRR11  0.0072            0.1132                         0             1

In [47]:
# br_stocks.apply(lambda x : x[ x["p/l"] > 3 ].sort_values(by="p/l").head(20))
top_equity_df = br_stocks[ (br_stocks["p/l"] > 3) & (br_stocks["p/l"] < 20) ].sort_values(by="p/l").head(50)
top_equity_tickers = set(top_equity_df["ticker"].unique())
print(top_equity_tickers)
# print(top_equity_df)
br_stocks["point_1"] = br_stocks.apply(lambda x : 2 if x["ticker"] in top_equity_tickers else 0, axis=1)

top_dy_df = br_stocks[ (br_stocks["dy"] > 5) & (br_stocks["dy"] < 20) ]
top_dy_tickers = set(top_dy_df["ticker"].unique())
print(top_dy_tickers)
# print(top_dy_df)
br_stocks["point_2"] = br_stocks.apply(lambda x : 0.5 if x["ticker"] in top_dy_tickers else 0, axis=1)

top_pvp_df = br_stocks[ (br_stocks["p/vp"] > 0) & (br_stocks["p/vp"] < 2) ]
top_pvp_tickers = set(top_pvp_df["ticker"].unique())
print(top_pvp_tickers)
# print(top_pvp_df)
br_stocks["point_3"] = br_stocks.apply(lambda x : 1 if x["ticker"] in top_pvp_tickers else 0, axis=1)

top_net_margin_df = br_stocks[ (br_stocks["marg_liquida"] > 10) & (br_stocks["marg_liquida"] < 100) ]
top_net_margin_tickers = set(top_net_margin_df["ticker"].unique())
print(top_net_margin_tickers)
# print(top_net_margin_df)
br_stocks["point_4"] = br_stocks.apply(lambda x : 1 if x["ticker"] in top_net_margin_tickers else 0, axis=1)

top_gross_margin_df = br_stocks[ (br_stocks["margem_bruta"] > 10) & (br_stocks["margem_bruta"] < 100) ]
top_gross_margin_tickers = set(top_gross_margin_df["ticker"].unique())
print(top_gross_margin_tickers)
# print(top_gross_margin_df)
br_stocks["point_4"] = br_stocks.apply(lambda x : 1 if x["ticker"] in top_gross_margin_tickers else 0, axis=1)

br_stocks["point_sum"] = sum([br_stocks["point_%d" % i] for i in range(1, 5)])

{'GOAU3', 'EUCA4', 'SUZB3', 'ROMI3', 'GGBR4', 'CLSC3', 'MTSA4', 'FIGE3', 'VALE3', 'CTKA4', 'SAPR11', 'BRAP4', 'TIET11', 'EUCA3', 'EEEL3', 'POSI3', 'GOAU4', 'BNBR3', 'BBAS3', 'SAPR3', 'NAFG4', 'EEEL4', 'GGBR3', 'MEAL3', 'TECN3', 'EPAR3', 'BAZA3', 'CAMB4', 'AURE3', 'CAMB3', 'JALL3', 'CMIG4', 'ALSO3', 'PLAS3', 'SAPR4', 'NEOE3', 'PETR4', 'G2DI33', 'CEDO4', 'CTKA3', 'CLSC4', 'HAGA3', 'HBTS5', 'CGRA3', 'BMKS3', 'PETR3', 'MTRE3', 'COCE5', 'CEDO3', 'CIEL3'}
{'PORT3', 'EUCA4', 'KLBN4', 'GGBR4', 'ROMI3', 'BRSR6', 'CPLE3', 'ALUP4', 'CMIG3', 'BBDC4', 'BEES3', 'CXSE3', 'MRFG3', 'LREN3', 'CSRN5', 'LAND3', 'POSI3', 'ATOM3', 'SAPR3', 'EQPA3', 'WIZC3', 'BRBI11', 'ALUP3', 'ALLD3', 'LEVE3', 'NEOE3', 'BMIN4', 'CSRN6', 'CBAV3', 'SOND3', 'MELK3', 'ENMT3', 'SANB3', 'CEBR5', 'CGRA3', 'CGAS5', 'BBDC3', 'VALE3', 'EKTR3', 'JBSS3', 'POMO4', 'CSUD3', 'CPFE3', 'REDE3', 'ITSA3', 'SAPR11', 'TGMA3', 'TASA3', 'TASA4', 'EGIE3', 'PGMN3', 'EQPA7', 'RAPT3', 'AURE3', 'SAPR4', 'CMIG4', 'USIM5', 'AGRO3', 'BMEB4', 'CEBR6', 'JHSF3', 'BMKS3', 'SANB11', 'EVEN3', 'ENBR3', 'CEBR3', 'GOAU3', 'EKTR4', 'SOND5', 'CSMG3', 'CMIN3', 'ABCB4', 'ALUP11', 'BRAP3', 'POMO3', 'STBP3', 'CPLE11', 'GEPA4', 'ENMA3B', 'UNIP6', 'TAEE4', 'FESA3', 'BAZA3', 'ABEV3', 'JALL3', 'BEEF3', 'SLCE3', 'RPAD5', 'UNIP3', 'SOND6', 'PATI4', 'ITSA4', 'BRSR5', 'CLSC4', 'KLBN11', 'RANI3', 'UNIP5', 'ITUB4', 'BMIN3', 'HBTS5', 'ITUB3', 'BEES4', 'CSRN3', 'TAEE3', 'MERC4', 'BGIP3', 'BRSR3', 'TAEE11', 'BRAP4', 'VIVT3', 'CGRA4', 'KEPL3', 'GOAU4', 'BBAS3', 'EQPA6', 'GGBR3', 'CGAS3', 'BBSE3', 'EQPA5', 'KLBN3', 'UCAS3', 'BGIP4', 'RAIZ4', 'CPLE6', 'FESA4', 'TKNO4', 'BMGB4', 'GEPA3', 'EMAE3', 'SANB4', 'CIEL3'}
{'COCE3', 'ELET6', 'RECV3', 'ALUP4', 'RPAD3', 'MMAQ4', 'OPCT3', 'IDVL3', 'LREN3', 'APER3', 'LAVV3', 'POSI3', 'MEAL3', 'TECN3', 'ALUP3', 'ALSO3', 'MOSI3', 'NEOE3', 'BMIN4', 'TPIS3', 'MELK3', 'MERC3', 'CYRE3', 'PTNT3', 'BALM4', 'ANIM3', 'CSUD3', 'DOHL3', 'TEND3', 'FNCN3', 'LPSB3', 'FIEI3', 'BRGE12', 'GETT4', 'MODL4', 'PGMN3', 'BIDI3', 'LJQQ3', 'ENEV3', 'RPAD6', 'BRGE7', 'AURE3', 'TIMS3', 'CAMB3', 'SAPR4', 'MTSA3', 'SBFG3', 'AMAR3', 'BPAT33', 'CBEE3', 'CEBR6', 'BRFS3', 'MTRE3', 'CEBR3', 'QUAL3', 'CPRE3', 'TCSA3', 'CPLE11', 'TRAD3', 'CTSA3', 'ZAMP3', 'CAMB4', 'DXCO3', 'JALL3', 'RANI4', 'ENGI11', 'MOVI3', 'MAGG3', 'LVTC3', 'AERI3', 'PNVL3', 'ITSA4', 'LAME4', 'TESA3', 'CLSC4', 'DEXP3', 'EZTC3', 'BMIN3', 'BRPR3', 'HBTS5', 'VSTE3', 'AESB3', 'MRSA6B', 'CAML3', 'CTSA4', 'YDUQ3', 'MTSA4', 'EALT4', 'NEMO5', 'TAEE11', 'BRGE11', 'CGRA4', 'HAPV3', 'LIGT3', 'SBSP3', 'ENAT3', 'IDVL4', 'PINE3', 'BRGE8', 'G2DI33', 'TRPL3', 'PDTC3', 'CRPG3', 'SANB4', 'PETR3', 'PCAR4', 'GEPA3', 'BRML3', 'VBBR3', 'ROMI3', 'ENGI4', 'POWE3', 'MRFG3', 'RNEW3', 'BPAN4', 'COGN3', 'WIZC3', 'PETR4', 'CRIV4', 'SANB3', 'BRKM6', 'BHIA3', 'CEDO3', 'JBSS3', 'POMO4', 'SULA11', 'NGRD3', 'ESPA3', 'PEAB4', 'SULA4', 'SAPR11', 'BRIT3', 'CSAN3', 'ELET5', 'TASA4', 'DASA3', 'CESP6', 'SOJA3', 'CESP3', 'EALT3', 'ENJU3', 'VIVT4', 'PETZ3', 'PTNT4', 'BMEB4', 'JSLG3', 'TELB4', 'JHSF3', 'TKNO3', 'BMEB3', 'ENBR3', 'TUPY3', 'HBRE3', 'MEGA3', 'AALR3', 'ABCB4', 'BRGE6', 'CEAB3', 'ELET3', 'TAEE4', 'FIQE3', 'GUAR3', 'KRSA3', 'ALPA4', 'CSNA3', 'BSLI4', 'CATA3', 'LCAM3', 'RAPT4', 'SCAR3', 'IRBR3', 'TRIS3', 'TAEE3', 'HYPE3', 'FIGE3', 'MSPA4', 'BRAP4', 'GOAU4', 'BNBR3', 'BBAS3', 'MBLY3', 'NAFG4', 'UCAS3', 'CPLE6', 'CORR3', 'EMAE3', 'EUCA4', 'CEEB3', 'GGBR4', 'MRSA3B', 'BRSR6', 'MDIA3', 'CMIG3', 'BBDC4', 'BEES3', 'EUCA3', 'BRIV4', 'SEQL3', 'SAPR3', 'OFSA3', 'ELPL3', 'CBAV3', 'PSSA3', 'IGTA3', 'BPAR3', 'CEBR5', 'CGRA3', 'PTBL3', 'BBDC3', 'VALE3', 'PRNR3', 'CLSC3', 'PCAR3', 'ETER3', 'NUTR3', 'EPAR3', 'CRFB3', 'CLSA3', 'RAPT3', 'SGPS3', 'CEDO4', 'MYPK3', 'BMKS3', 'SANB11', 'SPRI6', 'SPRI5', 'CTNM3', 'CSED3', 'ALUP11', 'CSAB4', 'ECPR3', 'USIM6', 'GEPA4', 'FESA3', 'BAZA3', 'SLCE3', 'RPAD5', 'MATD3', 'AZEV3', 'BRSR5', 'IGTI3', 'ITUB4', 'PPAR3', 'ITUB3', 'MERC4', 'BGIP3', 'GBIO33', 'EMAE4', 'VLID3', 'LOGG3', 'GGBR3', 'CSAB3', 'CEEB5', 'APTI3', 'PEAB3', 'MDNE3', 'BGIP4', 'GETT3', 'RAIZ4', 'PINE4', 'RDNI3', 'FESA4', 'TKNO4', 'BRIN3', 'GFSA3', 'MLAS3', 'SUZB3', 'CPLE3', 'BLUT4', 'BRGE5', 'MODL3', 'RRRP3', 'CTNM4', 'HBSA3', 'IFCM3', 'VSPT3', 'ALLD3', 'AFLT3', 'EQTL3', 'UGPA3', 'NTCO3', 'SHOW3', 'DOHL4', 'WLMM3', 'QGEP3', 'DMVF3', 'ITSA3', 'BOAS3', 'CASH3', 'TGMA3', 'RNEW4', 'PFRM3', 'ALPA3', 'TASA3', 'AGXY3', 'GPIV33', 'MNDL3', 'BMOB3', 'CMIG4', 'EMBR3', 'COCE6', 'MRSA5B', 'CALI3', 'USIM5', 'AGRO3', 'GMAT3', 'HBOR3', 'CRIV3', 'TRPL4', 'JOPA4', 'EVEN3', 'DESK3', 'PATI3', 'GRND3', 'GOAU3', 'BRIV3', 'AURA33', 'CSMG3', 'CRPG6', 'BRAP3', 'MSPA3', 'LWSA3', 'POMO3', 'RNEW11', 'JOPA3', 'BIDI11', 'BIDI4', 'FLRY3', 'LUPA3', 'SEER3', 'SYNE3', 'USIM3', 'PATI4', 'MRVE3', 'SULA3', 'TELB3', 'BEES4', 'COCE5', 'AMER3', 'DEXP4', 'ECPR4', 'NINJ3', 'BRSR3', 'BLUT3', 'CRPG5', 'BALM3', 'VIVT3', 'LAME3', 'BLAU3', 'WEST3', 'BRGE3', 'CEPE5', 'SOMA3', 'MODL11', 'APTI4', 'TRPN3', 'CORR4', 'BMGB4', 'MGLU3', 'CESP5', 'CIEL3'}
{'PORT3', 'SUZB3', 'CEEB6', 'CEEB3', 'KLBN4', 'GGBR4', 'LUXM4', 'RECV3', 'MRSA3B', 'BPAC11', 'ROMI3', 'SMTO3', 'IGTI4', 'ALUP4', 'SMLS3', 'CMIG3', 'PETR3', 'CSRN5', 'ENMA6B', 'LAVV3', 'RRRP3', 'SAPR3', 'DIRR3', 'EEEL4', 'AHEB5', 'PLPL3', 'TECN3', 'EQPA3', 'BPAC3', 'WIZC3', 'ALUP3', 'AFLT3', 'ANDG3B', 'LEVE3', 'MOSI3', 'NEOE3', 'PETR4', 'IGTI11', 'BMIN4', 'CSRN6', 'SOND3', 'IGTA3', 'SANB3', 'ENMT3', 'QGEP3', 'HAGA4', 'SHUL3', 'CYRE3', 'CEBR5', 'CALI4', 'CGRA3', 'STTR3', 'VALE3', 'EKTR3', 'POMO4', 'CSUD3', 'CPFE3', 'NRTQ3', 'BOAS3', 'VULC3', 'PEAB4', 'TFCO4', 'SAPR11', 'BRIT3', 'SHUL4', 'TGMA3', 'TASA3', 'TASA4', 'EGIE3', 'TIET3', 'GETT11', 'ODER4', 'AHEB6', 'GETT4', 'LUXM3', 'AHEB3', 'RSUL4', 'EQPA7', 'MILS3', 'NEMO3', 'AURE3', 'CAMB3', 'CMIG4', 'SAPR4', 'MGEL3', 'MRSA5B', 'MTSA3', 'CALI3', 'AGRO3', 'ENMT4', 'CEBR6', 'MULT3', 'JHSF3', 'TRPL4', 'TIET4', 'SANB11', 'TKNO3', 'MTRE3', 'CEBR3', 'HBRE3', 'GRND3', 'CPRE3', 'EKTR4', 'AURA33', 'CSMG3', 'ANDG4B', 'ABCB4', 'CMIN3', 'SMFT3', 'ALUP11', 'BRQB3', 'CRPG6', 'SOND5', 'POMO3', 'SLED4', 'ODPV3', 'VITT3', 'FIGE4', 'MWET4', 'INTB3', 'STBP3', 'GEPA4', 'VAMO3', 'ENMA3B', 'UNIP6', 'LUPA3', 'TAEE4', 'FESA3', 'STKF3', 'BAZA3', 'B3SA3', 'ABEV3', 'CAMB4', 'FIQE3', 'JALL3', 'PRIO3', 'QUSW3', 'RANI4', 'SLCE3', 'UNIP3', 'SOND6', 'KLBN11', 'RANI3', 'IGTI3', 'UNIP5', 'EZTC3', 'BMIN3', 'NEMO6', 'CSRN3', 'HAGA3', 'LHER4', 'TAEE3', 'TRIS3', 'VSTE3', 'MRSA6B', 'DTCY4', 'DTCY3', 'HYPE3', 'FIGE3', 'MTSA4', 'NEMO5', 'CRPG5', 'EMAE4', 'LOGN3', 'SLED3', 'TAEE11', 'GEPA3', 'CGRA4', 'KEPL3', 'LOGG3', 'TIET11', 'EEEL3', 'BNBR3', 'BBAS3', 'BLAU3', 'SBSP3', 'EQPA6', 'MWET3', 'GGBR3', 'WEGE3', 'CEEB5', 'EQPA5', 'ALSC3', 'ENAT3', 'KLBN3', 'CURY3', 'MPLU3', 'PEAB3', 'RSUL3', 'LHER3', 'CTCA3', 'TOTS3', 'G2DI33', 'MDNE3', 'TRPL3', 'GETT3', 'TRPN3', 'FIBR3', 'BPAC5', 'FESA4', 'ARML3', 'CRPG3', 'VIVA3', 'MGEL4', 'TKNO4', 'SANB4', 'BRML3', 'EMAE3', 'CIEL3'}
{'COCE3', 'PORT3', 'ELET6', 'LUXM4', 'KLBN4', 'RECV3', 'BPAC11', 'ALUP4', 'PTCA3', 'OPCT3', 'GNDI3', 'LREN3', 'LAVV3', 'POSI3', 'CEED3', 'EEEL4', 'MEAL3', 'TECN3', 'EQPA3', 'ALUP3', 'FRTA3', 'MOSI3', 'NEOE3', 'BMIN4', 'MELK3', 'MERC3', 'SHUL3', 'CYRE3', 'PTNT3', 'CGAS5', 'BALM4', 'ANIM3', 'CSUD3', 'REDE3', 'NRTQ3', 'BAUH4', 'LINX3', 'DOHL3', 'TEND3', 'FNCN3', 'ONCO3', 'LPSB3', 'GETT4', 'MODL4', 'PGMN3', 'BIDI3', 'LJQQ3', 'ENEV3', 'AURE3', 'TIMS3', 'CAMB3', 'SAPR4', 'SNSY5', 'GPAR3', 'MTSA3', 'SBFG3', 'AMAR3', 'BPAT33', 'CBEE3', 'CEBR6', 'ALPK3', 'BRFS3', 'MTRE3', 'CEBR3', 'QUAL3', 'ELMD3', 'CPRE3', 'TCSA3', 'ANDG4B', 'BFRE12', 'CPLE11', 'TRAD3', 'STKF3', 'ABEV3', 'CAMB4', 'ZAMP3', 'DXCO3', 'JALL3', 'RANI4', 'ENGI11', 'MOVI3', 'UNIP3', 'MAGG3', 'LVTC3', 'AERI3', 'BOBR3', 'PNVL3', 'ITSA4', 'LAME4', 'TESA3', 'CLSC4', 'KLBN11', 'DEXP3', 'NEXP3', 'EZTC3', 'BMIN3', 'HBTS5', 'WHRL3', 'CSRN3', 'HAGA3', 'AESB3', 'VSTE3', 'MRSA6B', 'RCSL4', 'CAML3', 'YDUQ3', 'MTSA4', 'EALT4', 'NEMO5', 'TAEE11', 'CGRA4', 'EEEL3', 'LIGT3', 'HAPV3', 'SBSP3', 'CGAS3', 'WEGE3', 'ENAT3', 'KLBN3', 'RSUL3', 'PINE3', 'CTCA3', 'FLEX3', 'TRPL3', 'FIBR3', 'PDTC3', 'ARML3', 'CRPG3', 'SANB4', 'GEPA3', 'BRML3', 'PCAR4', 'PETR3', 'CPLE5', 'ROMI3', 'ENGI4', 'TOYB3', 'CCRO3', 'IGTI4', 'SMLS3', 'MRFG3', 'RNEW3', 'BPAN4', 'DIRR3', 'COGN3', 'WIZC3', 'BTTL4', 'ANDG3B', 'PETR4', 'CRIV4', 'CSRN6', 'WLMM4', 'SANB3', 'ENMT3', 'FRIO3', 'HAGA4', 'IGSN3', 'BHIA3', 'TXRX3', 'STTR3', 'CEDO3', 'POMO4', 'NGRD3', 'ESPA3', 'BIOM3', 'ESTR3', 'VULC3', 'PEAB4', 'SAPR11', 'BRIT3', 'CSAN3', 'DMMO11', 'ELET5', 'TASA4', 'TIET3', 'DASA3', 'AHEB6', 'CESP6', 'LUXM3', 'SOJA3', 'AHEB3', 'EQPA7', 'MILS3', 'CESP3', 'NEMO3', 'EALT3', 'ENJU3', 'MGEL3', 'VIVT4', 'PETZ3', 'PTNT4', 'BMEB4', 'JSLG3', 'MULT3', 'JHSF3', 'BAHI3', 'TIET4', 'ARZZ3', 'TKNO3', 'BMEB3', 'ENBR3', 'TUPY3', 'HBRE3', 'MEGA3', 'AALR3', 'MNPR3', 'SOND5', 'CMIN3', 'ABCB4', 'BRQB3', 'SLED4', 'VITT3', 'CEAB3', 'PDGR3', 'STBP3', 'CNSY3', 'ELET3', 'GOLL4', 'TAEE4', 'B3SA3', 'FIQE3', 'GUAR3', 'KRSA3', 'ALPA4', 'PRIO3', 'CSNA3', 'BSLI4', 'CATA3', 'LCAM3', 'TEKA4', 'UNIP5', 'RAPT4', 'SCAR3', 'TRIS3', 'LHER4', 'TAEE3', 'NAFG3', 'DTCY4', 'HYPE3', 'SLED3', 'MSPA4', 'TEKA3', 'JFEN3', 'KEPL3', 'GOAU4', 'BNBR3', 'MBLY3', 'BBAS3', 'BSLI3', 'NAFG4', 'EQPA5', 'CURY3', 'UCAS3', 'CTKA3', 'CPLE6', 'BPAC5', 'MGEL4', 'EMAE3', 'VIVR3', 'GUAR4', 'EUCA4', 'CEEB6', 'CEEB3', 'SMTO3', 'GGBR4', 'MRSA3B', 'BRSR6', 'SNSY6', 'BSEV3', 'MDIA3', 'CMIG3', 'BBDC4', 'BEES3', 'EUCA3', 'NORD3', 'BRIV4', 'LAND3', 'SEQL3', 'TXRX4', 'ATOM3', 'SAPR3', 'AHEB5', 'OFSA3', 'DMMO3', 'ELPL3', 'SOND3', 'IGTA3', 'CEPE3', 'BPAR3', 'CEBR5', 'CGRA3', 'PTBL3', 'BBDC3', 'VALE3', 'EKTR3', 'PRNR3', 'CLSC3', 'PCAR3', 'SHUL4', 'ETER3', 'NUTR3', 'EPAR3', 'CRFB3', 'CLSA3', 'RAPT3', 'RDOR3', 'SGPS3', 'ELEK4', 'CEDO4', 'BMKS3', 'SANB11', 'VVEO3', 'CTNM3', 'CREM3', 'CSED3', 'SMFT3', 'ALUP11', 'RCSL3', 'INTB3', 'USIM6', 'GEPA4', 'VAMO3', 'FESA3', 'BAZA3', 'QUSW3', 'BEEF3', 'SLCE3', 'OMGE3', 'MATD3', 'SOND6', 'BRSR5', 'RANI3', 'IGTI3', 'ITUB4', 'BOBR4', 'ITUB3', 'NEMO6', 'MERC4', 'BGIP3', 'ENGI3', 'GBIO33', 'BFRE11', 'PTCA11', 'EMAE4', 'LOGN3', 'VLID3', 'LOGG3', 'EQPA6', 'MWET3', 'GGBR3', 'CEEB5', 'CATA4', 'ALSC3', 'APTI3', 'MPLU3', 'PEAB3', 'SIMH3', 'LHER3', 'SEDU3', 'TOTS3', 'PNVL4', 'MDNE3', 'BGIP4', 'CEPE6', 'GETT3', 'PINE4', 'RDNI3', 'FESA4', 'TOYB4', 'TTEN3', 'VIVA3', 'TKNO4', 'DOTZ3', 'MLAS3', 'SUZB3', 'GGPS3', 'CPLE3', 'HOOT4', 'RLOG3', 'CSRN5', 'ENMA6B', 'MODL3', 'RRRP3', 'CTNM4', 'HBSA3', 'PLPL3', 'IFCM3', 'BPAC3', 'ALLD3', 'AFLT3', 'EQTL3', 'LEVE3', 'NTCO3', 'IGTI11', 'SHOW3', 'INNT3', 'OSXB3', 'DOHL4', 'WLMM3', 'QGEP3', 'CALI4', 'ASAI3', 'AMBP3', 'RAIL3', 'CASN3', 'DMVF3', 'CPFE3', 'VVAR4', 'ITSA3', 'BOAS3', 'TFCO4', 'GSHP3', 'ELEK3', 'TGMA3', 'RNEW4', 'VVAR11', 'PFRM3', 'ALPA3', 'EGIE3', 'TASA3', 'AGXY3', 'GETT11', 'ODER4', 'ORVR3', 'MNDL3', 'RSUL4', 'CEED4', 'BMOB3', 'CMIG4', 'EMBR3', 'HGTX3', 'COCE6', 'MRSA5B', 'CALI3', 'USIM5', 'AGRO3', 'GMAT3', 'ENMT4', 'HBOR3', 'CRIV3', 'TRPL4', 'BPHA3', 'JOPA4', 'EVEN3', 'DESK3', 'GRND3', 'GOAU3', 'EKTR4', 'CASN4', 'BRIV3', 'AURA33', 'CSMG3', 'ESTR4', 'CRPG6', 'MSPA3', 'LWSA3', 'POMO3', 'ODPV3', 'RNEW11', 'CTKA4', 'MWET4', 'FRAS3', 'BEEF11', 'RADL3', 'JOPA3', 'BIDI11', 'BIDI4', 'ENMA3B', 'UNIP6', 'FLRY3', 'PARD3', 'LUPA3', 'SEER3', 'SYNE3', 'PLAS3', 'CEGR3', 'USIM3', 'MRVE3', 'ECOR3', 'BEES4', 'COCE5', 'AMER3', 'DEXP4', 'DTCY3', 'NINJ3', 'BRSR3', 'CRPG5', 'AVLL3', 'BALM3', 'TIET11', 'VIVT3', 'MSRO3', 'LAME3', 'BLAU3', 'WEST3', 'CEPE5', 'SOMA3', 'MODL11', 'WHRL4', 'SQIA3', 'AZUL4', 'SNSY3', 'APTI4', 'HOOT3', 'RENT3', 'BMGB4', 'MGLU3', 'CESP5', 'CIEL3'}

In [48]:
br_stocks.sort_values(by="point_sum", ascending=False).head(15)

,ticker,preco,dy,p/l,p/vp,p/ativos,margem_bruta,margem_ebit,marg_liquida,p/ebit,...,r_point_roe,g_point_roa,r_point_roa,g_point_roic,r_point_roic,point_1,point_2,point_3,point_4,point_sum
310,HBTS5,50.00,5.80,3.81,0.80,0.32,89.64,133.89,118.82,3.38,...,0,0,0,0,0,2,0.5,1,1,4.5
157,CLSC4,63.23,5.15,3.98,0.76,0.21,15.14,9.03,5.98,2.64,...,0,0,0,0,0,2,0.5,1,1,4.5
46,BAZA3,89.02,5.99,4.00,0.91,0.12,29.18,53.10,34.41,2.59,...,0,0,-1,0,0,2,0.5,1,1,4.5
47,BBAS3,48.82,9.40,4.31,0.86,0.07,32.03,16.16,12.35,3.29,...,0,0,-1,0,0,2,0.5,1,1,4.5
512,SAPR4,4.72,7.90,5.23,0.79,0.40,60.18,34.84,23.19,3.48,...,0,0,0,0,0,2,0.5,1,1,4.5
511,SAPR3,4.62,7.35,5.11,0.77,0.39,60.18,34.84,23.19,3.40,...,0,0,0,0,0,2,0.5,1,1,4.5
510,SAPR11,23.76,7.74,5.24,0.79,0.40,60.18,34.84,23.19,3.48,...,0,0,0,0,0,2,0.5,1,1,4.5
498,ROMI3,11.70,8.43,4.74,0.95,0.48,32.50,17.85,14.09,3.74,...,0,0,0,0,0,2,0.5,1,1,4.5
75,BMKS3,318.99,18.12,5.40,0.73,0.63,26.67,51.94,153.94,16.01,...,0,0,0,0,-1,2,0.5,1,1,4.5
464,POSI3,6.67,7.62,4.50,0.69,0.25,28.20,13.05,5.62,1.94,...,0,0,0,0,0,2,0.5,1,1,4.5
421,NEOE3,17.78,6.47,4.60,0.78,0.23,29.33,21.98,10.69,2.24,...,0,0,0,0,0,2,0.5,1,1,4.5
152,CGRA3,24.76,8.33,5.15,0.59,0.41,54.66,9.07,14.53,8.25,...,0,0,0,0,0,2,0.5,1,1,4.5
154,CIEL3,3.70,7.81,5.31,0.86,0.11,45.68,32.19,17.91,2.95,...,0,0,-1,0,0,2,0.5,1,1,4.5
36,AURE3,13.89,10.79,4.49,0.94,0.42,21.03,27.60,52.70,8.57,...,0,0,0,0,0,2,0.5,1,1,4.5
336,JALL3,8.45,5.21,3.23,1.30,0.41,30.21,51.55,42.37,2.66,...,0,0,0,0,0,2,0.5,1,1,4.5

In [49]:
desired_cols = ["dy", "p/l", "p/vp", "marg_liquida", "margem_bruta"]
modified_cols = []

for col in desired_cols:
    new_col = "normalised_" + col
    modified_cols.append(new_col)
    
    col_vals = br_stocks[col]
    # print(col_vals, col_vals.mean(), col_vals.std())
    br_stocks[new_col] = ( col_vals - col_vals.mean() ) / col_vals.std()   

print(modified_cols)
# print(br_stocks)
br_stocks.boxplot(column=modified_cols, showfliers=False)

['normalised_dy', 'normalised_p/l', 'normalised_p/vp', 'normalised_marg_liquida', 'normalised_margem_bruta']